<%- include('../includes/head.ejs') %>

  <link rel="stylesheet" href="/style/login.css">
  <link rel="stylesheet" href="/style/navigation.css">
</head>
<body>

  <%- include('../includes/navigation.ejs') %>

  <form action="/auth/transporter-login" method="POST" class="signup-container">
    <h2>Transporter Login Page</h2>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <!-- <input type="submit" value="Login"> -->
      
      <button type="submit">Log In</button>

    </div>
  </form>

  <%- include('../includes/end.ejs') %>



