<nav class="navbar">
    <ul>
      <li><a href="/form/add-product">Add Product</a></li>
      <li><a href="/form/products">Message</a></li>
    </ul>
    <ul>
  
  
      <div class="dropdown">
        <button class="dropbtn" id="btn">Login</button>
        <div class="dropdown-content">
          <a id="color-option" href="/auth/manufacturer-login">Manufacturer</a>
          <a id="color-option" href="/auth/transporter-login">Transporter</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn" id="btn">Signup</button>
        <div class="dropdown-content">
          <a id="color-option" href="/auth/manufacturer-signup">Manufacturer</a>
          <a id="color-option" href="/auth/transporter-signup">Transporter</a>
        </div>
      </div>


      </ul>
    </nav>